.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header__nav {
  margin: rem(12px) rem(30px) 0;
}

.header__pfone-number {
  font-size: rem(24px);
}

.pfone-number.header__pfone-number {
  @include tablets {
    display: none;
  }
}