//mixin
@import "mixin";

//breakpoints
$tablets: 768px;
$phones: 480px;

$containerWidth: 940px;
$baseFontSize: 18px;
@function rem($px) {
  @return $px / $baseFontSize + 0rem;
}

//colors
$blue: #86c3d7;
$darkBlue: #60aacc;
$darkGreen: #365a49;
$lightGray: #f8faf9;

//z-inexes
$z-fixed-menu: 100;
$z-dropdown: 10;
$z-fullscreen-menu: 1000;
$z-decor: -10;
$z-decor-first-plan: 200;
$z-background: -100;

//setups
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import "layout";

//components
@import "components/*.scss";