.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: rem(4px);
}

.headline__subtitle {
  padding: 0 25%;
  line-height: 1.2;
  margin-bottom: rem(52px);

  @include phones {
    padding: 0 5%;
    margin-bottom: 5.5vh;
  }
}