.ingredients-dropdown {
  width: rem(270px);
  padding: rem(20px) rem(10px) rem(20px) rem(32px);
}

.ingredients-dropdown__icon {
  width: rem(35px);
  height: rem(35px);
}

.ingredients-dropdown__col:nth-child(1) {
  padding: rem(5px) 0;
}

.ingredients-dropdown__col:nth-child(2) {
  width: 72%;
  padding: 0 rem(24px);
}