.pfone-number {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon {
  flex-shrink: 0;
}

.phone-number__icon-elem {
  width: rem(12px);
  height: rem(12px);
  margin-right: rem(6px);
}

.phone-number__text {
  white-space: nowrap;
}

.pfone-number_theme_green {
  color: $darkGreen;
}