.radio {
  display: flex;
  cursor: pointer;
  user-select: none;

  @include phones {
    margin-bottom: rem(8px);
  }
}

.radio__elem {
  display: none;

  &:checked~.radio__visible::before {
    background: $darkGreen;
  }
}

.radio__visible {
  width: rem(26px);
  height: rem(26px);
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: rem(8px);

  &::before {
    content: "";
    width: rem(14px);
    height: rem(14px);
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.radio__checkmark {
  opacity: 0;
  fill: $darkGreen;
  width: rem(14px);
  height: rem(14px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio_checkbox {
  .radio__visible {
    border-radius: 0;
  }

  .radio__elem:checked~.radio__visible::before {
    display: none;
  }

  .radio__elem:checked~.radio__visible .radio__checkmark {
    opacity: 1;
  }
}