.reviews-section {
  position: relative;
  background: url("../images/decor/strawberry.png") right 1% top 5% no-repeat;

  &::before {
    content: url("../images/decor/leaf-reviwes.png");
    position: absolute;
    bottom: rem(-165px);
    left: 0;
    z-index: $z-decor;
  }

  &::after {
    content: url("../images/decor/berries-reviwes.png");
    position: absolute;
    bottom: rem(-95px);
    left: 0;
    z-index: $z-decor;
  }
}