.socials {
  display: flex;
}

.socials__item {
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  display: block;
  text-decoration: none;
  width: rem(20px);
  height: rem(20px);
  opacity: 0.5;
  transition: opacity .5s;
}

.socials__link:hover {
  opacity: 1;
}

.socials__img {
  width: 100%;
  height: 100%;
}